<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 <suite parallel = "tests" name="Suite">  <!-- If you want to run in Parallel - use this line instead: <suite parallel = "methods" name="Suite">   -->
	<listeners>
		<listener class-name = "Yad2.TestComponents.Listeners" />
	</listeners>
		
	<test thread-count="5" name="Project Yad2 OOPs">
		<classes>
			<class name="Yad2.Tests.TopMenuTitlesTest01" />
			<class name="Yad2.Tests.TopMiddleMenuCarTitlesComparedTest02" />
			<class name="Yad2.Tests.VehicleTypesComparisonTest03" />
			<class name="Yad2.Tests.TruckSearchComparisonTest04" />
			<class name="Yad2.Tests.TruckSortingComparisonTest05" />
			<class name="Yad2.Tests.TruckSearchDetailedPageComparisonTest06" />
			<class name="Yad2.Tests.BackToHomePageTest07" />
		</classes>
	</test> 
	
	<test thread-count="5" name="Error Validation Test">
		<classes>
			<class name="Yad2.Tests.ErrorValidation" />
		</classes>
	</test> <!-- test -->
	
<!--	<test thread-count="5" name="Stand Alone Test">
		<classes>
			<class name="Yad2.Tests.StandAloneTestUpdated" />
		</classes>
	</test>  --> <!-- test -->
</suite> <!--Suite -->
